@font-face {
    font-family: 'Lexend';
    src: url(../assets/lexend-regular.ttf);
}

@font-face {
    font-family: 'Lexend';
    font-weight: bold;
    src: url(../assets/lexend-bold.ttf);
}

@font-face {
    font-family: 'Noto Sans';
    src: url(../assets/noto-sans-regular.ttf);
}