:root {
    --white:       #ffffff;
    --light-gray:  #b8b8b8;
    --dark-gray:   #474747;
    --red:         #e43b44;
    --orange:      #fe8134;
    --yellow:      #fec534;
    --green:       #4dc769;
    --cyan:        #4ce1f2;
    --blue:        #0095e9;
    --purple:      #ad50b5;
    
    --pink:        #e58aa4;
    --beige:       #efd8a5;
    --light-green: #a0dab9;

    --dark-green:  #4aa075;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

body {
    margin: 0;
    width: 100%;
    background-color: var(--white);
    font-family: 'Lexend', 'Noto Sans';
}

a {
    color: var(--dark-green);
    text-decoration: none;
    /* font-weight: bold; */
}

.page {
    width: 100%;
    background-color: var(--white);

    max-width: 800px;
    align-items: center;
    text-align: center;
    margin: auto;
    
    padding: 20px;

    color: var(--dark-gray);
    font-size: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#magnitudeField {
    display: inline-block;
    position: relative;
    width: 50px;
    text-align: center;
}
#magnitudeFieldValue {
    font-weight: bold;
    color: var(--red);
}
#directionFieldArrow {
    color: var(--red);
    position: relative;
    top: 6px
}

/* Scroll bar */


/* width */
::-webkit-scrollbar {
    width: 20px;
    display: contents;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    
    min-width: 100px;
    border: solid 6px rgba(0, 0, 0, 0);
    box-sizing: border-box;
    background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.6);
}

.iVec {
    color: var(--red)
}
.jVec {
    color: var(--green)
}